.Header {
    margin-top: 60px;
    text-align: center;
    color: rgb(218, 224, 255);

    h2 {
        font-size: 2rem;
    }

    button.new_game {
        margin: 20px 0;
        padding: 7px 18px;
        font-size: 1rem;
        cursor: pointer;
        transition: all .2s ease;
        border-radius: 2px;
        background-color: rgb(0, 15, 92);
        color: rgb(218, 224, 255);

        &:hover {
            box-shadow: 0 2px 5px #FFF;
        }
    }
}